*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

header, nav, footer{
    background-color: #dcdcdc;
    padding: 16px;
    text-align: center;
}

header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

main{
    background-color: #f5f5f5;
    padding: 16px;
    display: flex;
    gap: 16px;
}

article{
    background-color: #cce;
    padding: 16px;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

aside{
    background-color: #ffd6ff;
    padding: 16px;
    flex: 1;
}

section{
    background-color: #ffffff;
    margin: 8px 0;
    padding: 16px;
}

@media (max-width: 768px) {
    main{
        flex-direction: column;
    }
    nav {
        flex-direction: column;
        gap: 8px;
    }
}